/* Place CSS styles here */
html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 250px;
    margin-right: 16px;
    border: 3px solid #ff91ca;
}

div {
    background-color: #393939;
    text-align: center;
    padding: 50px;
    max-width: 900px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin: 40px auto;
    border: 3px solid rgba(88, 45, 7, 0.133);
    border-radius: 20px;
}

.bald-man {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: #5b3416;
}

